<!-- start: page -->
    <section class="body-sign">
      <div class="center-sign">
        <div class="panel panel-sign">
          <div class="panel-body" >
            <form accept-charset="UTF-8" role="form" id="" method="post">
            <div class="col-sm-6">
                <a href="mantenimiento" class="btn btn-default btn-lg">Dueño</a>
            </div>
            <div class="col-sm-6">
                <a href="mantenimiento" class="btn btn-default btn-lg">Cliente</a>
            </div>
            </form>
          </div>
        </div>

        <p class="text-center text-muted mt-md mb-md">&copy; UPC Copyright 2018. All Rights Reserved.</p>
      </div>
    </section>
    <!-- end: page -->