<div class="row">
    <div class="col-xs-12">
        <section class="panel panel-featured panel-featured-danger animated fadeInRight">
        <div class="panel-body">
            <h4>Buscar Estacionamiento</h4>
            <form >
            <%= form_for :estacionamiento, :url =>{:controller => "estacionamiento", :action => "busqueda_alquilados_post"} ,:method => :post,:html =>{ :class => "form-horizontal" , :id => "busqueda_alquilados"} do |f|%>
                <div class="form-group">
                    <label for="txt_fecha_desde" class="col-sm-3 control-label">Fecha Hora desde:</label>
                    <div class="col-sm-9 input-group date" id='dtpFechaDesde'>
                        <input type="text" class="form-control" id="txt_fecha_desde" name="txt_fecha_desde" placeholder="Fecha inicio" value="<%=@txt_fecha_desde == nil ? '' : @txt_fecha_desde %>">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txt_fecha_hasta" class="col-sm-3 control-label">Fecha Hora hasta:</label>
                    <div class="col-sm-9 input-group date" id='dtpFechaHasta'>
                        <input type="text" class="form-control" id="txt_fecha_hasta" name="txt_fecha_hasta" placeholder="Fecha fin" value="<%=@txt_fecha_hasta == nil ? '' : @txt_fecha_hasta %>">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-default">Buscar</button>
                </div>
            </div>
            <% end %>
            <br><br><br>
            <div class="panel panel-default">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Distrito</th>
                            <th>Precio Hora</th>
                            <th>Dimensiones</th>
                            <th>Tipo</th>
                            <th>Ubicación</th>
                            <th>Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                    <%@estacionamientos.each do |p| %>
						<tr>
							<td><%=p.Nombre.to_s %></td>
							<td>Av San Borja 1440</td>
							<td>San Borja</td>
							<td>S/ 12.00</td>
							<td>4*3 m2</td>
							<td>Interior</td>
							<td>Sótano 4</td>
							<td><a href="#">Editar</a> | <a href="#">Eliminar</a></td>
						</tr>
					<% end %>
                        <tr>
                            <td>El Sol</td>
                            <td>Av San Borja 1440</td>
                            <td>San Borja</td>
                            <td>S/ 12.00</td>
                            <td>4*3 m2</td>
                            <td>Interior</td>
                            <td>Sótano 4</td>
                            <td><a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    </div>
</div>