	<div class="row">
							<div class="col-xs-12">
								<section class="panel panel-featured panel-featured-danger animated fadeInRight">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
									</div>

									<h2 class="panel-title">Bienvenido Cesar Huachua</h2>
									<p class="panel-subtitle">Alquiler de estacionamientos</p>
								</header>
								<div class="panel-body">
									<code>Existen nuevos estacionamientos disponibles</code>
								</div>
							</section>
							</div>
						</div>