<div class="row">
	<div class="col-xs-12">
		<section class="panel panel-featured panel-featured-danger animated fadeInRight">
		<div class="panel-body">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
				<label for="txt_ubicacion" class="col-sm-5 control-label">Ingrese Nombre</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" placeholder="Ingrese Nombre">
				</div>
				</div>
				<button type="submit" class="btn btn-default">Buscar</button>
			</form>
			<br><br><br>
			<div class="panel panel-default">
				<div class="panel-heading">Panel heading</div>
				<table class="table">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Direcci贸n</th>
							<th>Distrito</th>
							<th>Precio Hora</th>
							<th>Dimensiones</th>
							<th>Tipo</th>
							<th>Ubicaci贸n</th>
							<th>Opci贸n</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>El Sol</td>
							<td>Av San Borja 1440</td>
							<td>San Borja</td>
							<td>S/ 12.00</td>
							<td>4*3 m2</td>
							<td>Interior</td>
							<td>S贸tano 4</td>
							<td><a href="#">Editar</a> | <a href="#">Eliminar</a></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>La Luna</td>
							<td>Av Angamos 1010</td>
							<td>Surquillo</td>
							<td>S/ 7.00</td>
							<td>3*3.5 m2</td>
							<td>Aire Libre</td>
							<td>1er Piso</td>
							<td><a href="#">Editar</a> | <a href="#">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	</div>
</div>