<div class="row">
	<div class="col-xs-12">
		<section class="panel panel-featured panel-featured-danger animated fadeInRight">
        <div class="panel-body">
            <h4>Información del Estacionamiento</h4>
            <form class="form" role="form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group center">
                            <img width="80%" src="http://www.cvdi.com.pe/wp-content/uploads/2016/05/senalizacion-estacionamientos-5.jpg" />
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-12">Nombre: El Sol</label>
                            <label for="" class="col-sm-12">Dirección: Av. San Borja 1414</label>
                            <label for="" class="col-sm-12">Distrito: San Borja</label>
                            <label for="" class="col-sm-12">Dimensiones: 4x3 m2</label>
                            <label for="" class="col-sm-12">Tipo: Interior</label>
                            <label for="" class="col-sm-12">Ubicación: Sotano 4</label>
                            <label for="" class="col-sm-12">Precio por hora: S/ 12.00</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <fieldset>
                            <legend>Selección de Servicios</legend>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="chb1" name="chb1" type="checkbox"/>
                                        <label for="chb1">Lavado normal - S/ 10.00</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="chb2" name="chb2" type="checkbox"/>
                                        <label for="chb2">Lavado con cera - S/ 15.00</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="chb3" name="chb3" type="checkbox"/>
                                        <label for="chb3">Lavado interno y externo normal - S/ 20.00</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="chb4" name="chb4" type="checkbox"/>
                                        <label for="chb4">Lavado interno y externo con cera - S/ 25.00</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="chb5" name="chb5" type="checkbox"/>
                                        <label for="chb5">Inflado de lantas - S/ 2.00</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-6" style="margin-top: 50px;">
                        <div class="form-group">
                            <label for="txt_ubicacion" class="col-sm-5 control-label">Fecha/Hora desde:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="dd/mm/aaaa hh:mm am/pm">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_ubicacion" class="col-sm-5 control-label">Fecha/Hora hasta:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="dd/mm/aaaa hh:mm am/pm">
                            </div>
                        </div>
                        <div class="right" style="text-align: right;">
                            <button type="submit" class="btn btn-info">Alquilar</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group center">
                            <img width="200" src="https://shannonathompson.files.wordpress.com/2014/03/two-star-rating.png" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Comentarios</h4>
                        <div style="padding: 10px;">
                            <p><b>Julio Salas</b>: Buen espacio para estacionamiento. Muy amplio para cuadrar mi auto. Otros son más pequeños y se me complica. Recomendado al 1000!</p>
                        </div>
                        <div style="padding: 0px 10px; margin-left: 50px;">
                            <p><b>Isabel Ilarra</b>: Igualmente, un estacionamiento muy amplio. Eso es un plus a pesar de estar en el sotano 4.</p>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" placeholder="Ingrese su comentario"></textarea>
                            </div>
                        </div>
                        <div class="right" style="text-align: right;">
                            <button type="submit" class="btn btn-info">Comentar</button>
                        </div>
                    </div>
                </div>
			</form>
		</div>
	</section>
	</div>
</div>