<div class="row">
	<div class="col-xs-12">
		<section class="panel panel-featured panel-featured-danger animated fadeInRight">
        <div class="panel-body">
            <h4>Registrar Estacionamiento</h4>
            <form class="form" role="form">
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset>
                            <legend>Información</legend>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Nombre</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Dirección</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Distrito</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Google Lat.</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Google Lon.</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Teléfono</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Precio Hora</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Foto</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Dimensiones</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Tipo</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Ubicación</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <fieldset>
                            <legend>Selección de Servicios</legend>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Nuevo Servicio</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Tarifa</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="right" style="text-align: right;">
                                <button type="submit" class="btn btn-info">Agregar</button>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="chb1" name="chb1" type="checkbox"/>
                                        <label for="chb1">Lavado normal - S/ 10.00</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="chb2" name="chb2" type="checkbox"/>
                                        <label for="chb2">Lavado con cera - S/ 15.00</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="chb3" name="chb3" type="checkbox"/>
                                        <label for="chb3">Lavado interno y externo normal - S/ 20.00</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="chb4" name="chb4" type="checkbox"/>
                                        <label for="chb4">Lavado interno y externo con cera - S/ 25.00</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="chb5" name="chb5" type="checkbox"/>
                                        <label for="chb5">Inflado de lantas - S/ 2.00</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row center" style="margin-top: 20px;">
                    <button type="submit" class="btn btn-success">Registrar</button>
                </div>
			</form>
		</div>
	</section>
	</div>
</div>