<div class="row">
<div class="col-xs-12 footer">
               <div class="pull-right">
                  <strong>12/06/2018</strong>.
               </div>
               <div>
                  <strong>Copyright</strong> UPC S.A. &copy; 2018
               </div>
</div>
</div>
